{% extends 'bases/base.html' %}
{% load static %}


{% block 'head' %}
    <link href="{% static 'main_static/styles/homepage.css' %}" rel="stylesheet">
{% endblock %}



<title>{% block 'title' %}MORSE FORGE{% endblock %}</title>

{% block 'body' %}
    <main>
        <section class="secao1-main">        
        </section>
        <section class="secao2-main">
            <div class="detalhes">
            </div>
            <div class="pesquisa">
                <div class="texto-pesquisa">
                    <h1>
                        Traduzindo o mundo ponto a ponto, traço a traço
                    </h1>
                </div>
                <div class="container-pesquisar">
                    {% csrf_token %}
                    <input type="text" autocomplete="off" class="barra-pesquisa"  placeholder="Escreva o que deseja codificar..." id="text_code" name="text_code" >
                    <button class="botao-pesquisar" onclick="tranlated_text_code()">Codificar</button>
                </div>
                <div class="texto-morse">
                    <h2>
                        - .-. .- -.. ..- --.. .. -. -.. --- / --- / -- ..- -. -.. --- / .--. --- -. - --- / .- / .--. --- -. - --- --..-- / - .-. .- --- / .- / - .-. .- --- .-.-.-
                    </h2>
                </div>
                <div class="botao-container" onclick="translatedFile()">
                    <a href="#"> <i class="fa-regular fa-file"></i> Importe um arquivo</a>
                </div>

                <div class="container_text_result" id="container_text_result">
                    <div class="container_textarea_result">
                        <label for="text_result">
                            <textarea name="text_result" id="text_result" cols="30" rows="5"></textarea>
                        </label>
                    </div>
                    <div class="container_buttons">
                        <div class="content-buttons">
                            <button id="btnIniciarReproducao">Iniciar Reprodução</button>
                            <button id="btnPausarReproducao">Pausar Reprodução</button>
                            <button>Inport um arquivo</button>

                        </div>
                        <div class="content-buttons">
                            <button>Baixar aúdio</button>
                            <button>Copiar código</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="detalhes">
            </div>
        </section>


        <section class="container_full_page" id="container_full_page">
            <span class="loader" id="loader"></span>
        </section>



        <section>
            <div></div>
        </section>
        <section>
            <div></div>
        </section>
    </main>
{% endblock %}



{% block 'acripts' %}
    <script src="{% static 'main_static/scripts/main2.js' %}"></script>
{% endblock %}
</html>
