@import url('https://fonts.googleapis.com/css2?family=Candal&family=Josefin+Sans:wght@300;400;500;600;700&family=Oxanium:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Road+Rage&family=Rubik+Mono+One&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}


main{
    height: 100%;
    width: 100%;
}

.secao1-main{
    height: 100px;
    width: 100%;
    background-color: antiquewhite;
    background-image: url('../images/background.png');
    background-repeat: repeat;
    background-position: center;
}

.secao2-main{
    height: 50vh;
    width: 100%;
    background-color: #1E1E1E;
    text-align: center;
    justify-content: center;
    display: flex;
}


.detalhes{
    background-image:url('../images/detalhes.png');
    height: 400px;
    width: 20%;

}

.pesquisa{
    height: 400px;
    width: 60%;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.texto-pesquisa{
    width: 100%;
    height: auto;
    text-align: center;
}

.texto-pesquisa h1{
    color: #FFFFFF;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;

}

.container-pesquisar{
    display: flex;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    overflow: hidden;
    border-radius: 20px;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.barra-pesquisa{
    width: 100%;
    padding: 8px 0 8px 15px;
    border: none;
    outline: none;
    object-fit: cover;
    font-weight: 500;
}

.botao-pesquisar{
    padding: 8px 12px;
    background-color: #DD952D;
    font-family: Poppins;
    font-weight: bold;
    color: #1E1E1E;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 0 20px 20px 0;
    transition: 0.3s all ease-out;
}

.botao-pesquisar:hover{
    background-color: #EAC049;
}

.botao-container{
    display: inline-block;
    text-decoration: none;
    background-color: #DD952D; 
    color: #fff; 
    /* border: 1px solid #ccc;  */
    border-radius: 15px; 
    padding: 10px 15px; 
    text-align: center;
    cursor: pointer;
    transition: 0.3s all ease-out;
}

.botao-container i {
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px; 
}

.botao-container a {
    font-size: 15px; 
    font-family: Poppins;
    font-weight: bold;
    color: #1E1E1E; 
    text-decoration: none;
}

.texto-morse{
    text-align: center;
    height: auto;
    width: 100%;
}

.texto-morse h2{
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 10px;
    font-family: Poppins;
    font-weight: bold;
} 

.botao-container:hover {
    background-color: #EAC049; 
}

.container_text_result{
    display: flex;
    flex-direction: column;
}

.container_full_page{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    background-color: #1E1E1E;
    opacity: 50%;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader {

    width: 100px;
    height: 100px;
    border: 15px dotted #FFF;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: none;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 5px dotted #FF3D00;
    border-style: solid solid dotted;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  } 


@media  screen and (max-width: 768px) {
    main{
        height: 100vh;
        background-color: red;
    }
    .detalhes{
        display: none;
    } 
    .pesquisa{
        height: 400px;
        width: 100%;
        gap: 10px;
        
    }
    
    .texto-pesquisa{
        margin: 5%;
        width: 100%;
        height: 50px;
        
    }
    
    .texto-pesquisa h1{
        color: #FFFFFF;
        font-size: 20px;
        font-family: Poppins;
        font-weight: bold;

    }
    
    .container-pesquisar{
        display: block;
        border: none;
        border-radius: none;
        overflow: hidden;
        width: 90%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    
    .barra-pesquisa{
        width: 100%;
        padding: 8px;
        border: none;
        outline: none;
        object-fit: cover;
    }
    
    .botao-pesquisar{
        padding: none;
        background-color: #DD952D;
        font-family: Poppins;
        font-weight: bold;
        color: black;
        border: none;
        cursor: pointer;
        outline: none;
        border-radius: 0 20px 20px 0;
        transition: background-color 0.3s;
    }
    
    .botao-pesquisar:hover{
        background-color: #EAC049;
    }
    
    
}